<!DOCTYPE html>
<html>
<head>
    <title>CalculatorApplication</title>
</head>
<body>
    <div class="App">
        <h1>Welcome to the Calculator page</h1>
        
        <form method="post" action="http://127.0.0.1:5000/default">

            <label for="NumberA" class="NumberA">NumberA</label>
            <input type="text" name="NumberA" id="101">

            <label for="NumberB" class="NumberB">NumberB</label>
            <input type="text" name="NumberB" id="102">

            <label for="Operator" class="Operator">Operator</label>
            <input type="text" name="Operator" class="Operator">

            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>
