<!DOCTYPE html>
<header>
    <title>App</title>
</header>
<body>
    <div class="App">
        <h1>Welcome to the Calculator page</h1>
        
        <form method="post" action='http://127.0.0.1:5000/default'>

            <Label for="Number1" name = "Number1" class="Number1">NumberA</Label>
            <input type="text" name="Number1" id="101">

            <label for="Number2" name ="Number2" class="Number2">NumberB</label>
            <input type="text" name ="Number2" id="102" >

            <label for="Operator" name="Operator" class="Operator">Operator</label>
            <input type="text"    name="Operator" class="Operator">

            <button type="submit">Submit</button>
        </form>
    </div>
</body>